<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e" >

  <!-- Include ur5e description (HINT: look at ur5e.xacro within the ur_description package)-->
  <!-- TODO: INSERT CODE HERE -->
  <!--include function includes all data from givein file found from a specified directory-->
  <xacro:include filename="$(find ur_description)/urdf/ur5e.xacro"/>

  
  <link name="world" />

  <!-- Link robot with world joint -->


  <!--joint pins object relative to world or other objects. type sets the relative movement ("fixed" makes unmoveable, "prismatic" is linear mottion,"revolute" rotates like a hinge etc.).-->
  <joint name="world_joint" type="fixed">
<!--Parent is where the object is connected relative to (e.g. world,End Effector)--> 
	<parent link="world"/>
<!--Child sets the object to be placed (e.g. robot base link (from ur5e linked xacro, EE Tool)--> 
	<child link="base_link"/> 
<!--Origin sets objects position (metres) and orientation (radians)--> 
	<origin xyz="0.8 0.0 0.675" rpy="0.0 0.0 0.0"/>
  </joint>

</robot>
